body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5; /* Light gray background */
    color: #333;
}

.grid-container {
    display: grid;
    grid-template-areas:
        "header"
        "blueZonesMap"
        "survey"
        "bluezoneProjectInfo"
        "cityInformation"
        "footer";
    grid-template-rows: auto auto auto auto auto auto;
    gap: 20px;
}

header {
    grid-area: header;
    background-color: #3498db;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

#blueZonesMap {
    grid-area: blueZonesMap;
    background-color: #ffc55b;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

#blueZonesMap img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Add a slight border radius to the map image */
}

.survey-container {
    grid-area: survey;
    background-color: #9bd19b;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#bluezoneProjectInfo {
    grid-area: bluezoneProjectInfo;
    background-color: #81b4e7;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#cityInformation {
    grid-area: cityInformation;
    background-color: #ffd699;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    grid-area: footer;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3498db;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

h1 {
    color: #333; /* Dark text color for h1 elements */
}

button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

button:hover {
    background-color: #45a049;
}
