body {
    font-family: 'Merriweather', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6cd0a;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', serif;
    color: #fff;
}


.grid-container {
    display: grid;
    grid-template-areas:
        "header"
        "blueZonesMap"
        "survey"
        "bluezoneProjectInfo"
        "restCountriesAPI"
        "cityInformation"
        "footer";
    grid-template-rows: auto auto auto auto auto auto auto;
    gap: 20px;
}

header {
    grid-area: header;
    background-color: #22c8c3;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header {
    grid-area: header;
    background-color: #22c8c3;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header h1 {
    font-size: 1.5rem; /* Adjust the font size for smaller screens */
}

header p {
    font-size: 1rem; /* Adjust the font size for smaller screens */
}


#blueZonesMap,
#survey,
#bluezoneProjectInfo,
#restCountriesAPI {
    background-color: #2b3511; /* Color of lush forests */
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.survey-container {
    background-color: #22c8c3; /* Color of Mediterranean water */
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#resultMessage {
    color: red;
}


h1, h2, h3, h4, h5, h6 {
    color: #fff; 
}

h1, h2, {
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5); /* White text shadow for cool effect */
}


#surveyForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}


button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
    margin-top: 20px; 
}

button:hover {
    background-color: #45a049;
}

#bluezoneProjectInfo a {
    color: red; 
}

#bluezoneProjectInfo a:hover {
    text-decoration: underline; 
}

.countries {
    max-width: 1240px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 20px;
}

.country-div {
    background: white;
    border: 1px solid #333;
    padding: 15px;
    text-align: center; 
}

.country-div h2,
.country-div h4 {
    color: #333; 
}

.country-div img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

button:hover {
    background-color: #2980b9;
}

#aboutMe {
    background-color: #22c8c3; 
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px; 
}

.about-me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me-image {
    width: 150px; 
    border-radius: 50%; /* Made it a circle */
    margin-bottom: 10px; 
}

.about-me-text {
    color: #fff; 
    font-size: 1rem; 
}

.jump-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px; 
}

footer {
    text-align: center;
}
